<div class="messaging">
    <div class="inbox_msg">
        <div class="inbox_people">
            <div class="headind_srch">
                <div class="channel_heading">
                    <h4>Chat room</h4>
                </div>
            </div>
        </div>
        <div class="mesgs">
            <div class="msg_history">
                <li class="message" *ngFor="let message of messages">
                    <div *ngIf="
              message.personName !== personName;
              then incoming_msg;
              else outgoing_msg
            ">
                    </div>
                    <ng-template #incoming_msg>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img">
                                <img src="https://i.imgur.com/k2PZLZa.png" alt="User avatar" />
                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <div class="header">
                                        <span>{{ message.personName }}</span>
                                    </div>
                                    <p>{{ message.textMsg }}</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #outgoing_msg>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <div class="header">
                                    <span>You: {{ message.personName }}</span>
                                </div>
                                <p>{{ message.textMsg }}</p>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </div>
            <div class="type_msg">
                <form class="input_msg_write" (ngSubmit)="send()">
                    <input type="text" class="write_msg" placeholder="Type a message" name="newMessage"
                        [(ngModel)]="newMessage" />
                    <button class="msg_send_btn">
                        Send
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>